[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
sqlalchemy = "*"
flask-cors = "*"
pymongo = {extras = ["srv"], version = "*"}
flask = "*"
flask-sqlalchemy = "*"

[dev-packages]

[requires]
python_version = "3.10"
